@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="text-center">
        <h3>Здравствуйте, это приложение для обработки математичесских выражений</h3>
        <h4>В разных формат(.xml, .json, .txt)</h4>
        <h5>Так же выражения могут зашифрованы и/или заархивированы</h5>

        <a class="btn btn-primary" asp-action="CreatePath">Try it</a>
    </div>
</body>
</html>